<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518938880074-h3e92lgm29fm4bbhebbp02gb56auu33g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518938880074-h3e92lgm29fm4bbhebbp02gb56auu33g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>518938880074-lvlca2f1ugge92i9rekt9103qguru2n5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxk4RY-4_83jVx1ZKVbQ1Hf389Xx8rjlk</string>
	<key>GCM_SENDER_ID</key>
	<string>518938880074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pyozer.myagenda</string>
	<key>PROJECT_ID</key>
	<string>myagenda-57559</string>
	<key>STORAGE_BUCKET</key>
	<string>myagenda-57559.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518938880074:ios:caff68f2e611d095</string>
	<key>DATABASE_URL</key>
	<string>https://myagenda-57559.firebaseio.com</string>
</dict>
</plist>